@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 22px;
    color: #767676;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.header{
    padding: 45px 0 49px 0;
    background-color: #DCDCDC;
}

.header--main{
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10px;
}

@media (max-width: 330px){
    .header--main{
        padding: 0;
    }
}

@media (max-width: 796px){
    .header--main{
        flex-direction: column;
        align-items: center;
    }
}

.header-main--sale{
    margin: 0 auto;
    margin-top: 24px;
}

.header-main--phone-numbers{
    text-align: right;
    width: 290px;
    height: 100px;
    font-size: 31px;
    letter-spacing: 1px;
    line-height: 46px;
    font-weight: 800;
}

.menu{
    background-color: #767676;
    min-height: 60px;
}

.menu-references{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.menu-references--element{
    font-size: 18px;
    padding: 0 10px;
    margin-top: 18px;
}

.reference{
    color: #ffffff;
    text-decoration: none;
}

.reference:hover{
    text-decoration: underline;
}

.menu-references--element:not(:last-of-type){
    border-right: 1px solid #ffffff;
}

@media (max-width: 600px){
    .menu-references{
        flex-direction: column;
        text-align: center;
    }

    .menu-references--element:not(:last-of-type){
        padding-bottom: 18px;
        border-right: 0px solid;
        border-bottom: 1px solid #ffffff;
    }

    .menu-references--element:last-of-type{
        padding-bottom: 18px;
    }
}

.slider{
    width: 100%;
    height: 404px;
    background: url(img/slider.jpg) center center no-repeat;
    background-size: cover;
}

.content{
    padding: 49px 0 195px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
}

@media (max-width: 330px){
    .content{
        padding: 0;
    }
}

.content--news{
    margin: 0 auto;
    width: 350px;
    padding: 21px 0 34px 30px;
    background-color: #777777;
    color: #ffffff;
    box-sizing: border-box;
}

.content--news-title{
    margin: 0;
    font-size: 40px;
    margin-bottom: 40px;
}

.content--news-list{
    list-style-type: none;
    padding: 0;
}

.news-list--element{
    margin-bottom: 30px;
}

.content--news-archive{
    padding: 40px 60px 0 0;
    text-align: right;
}

.news-archive--reference{
    color: #ffffff;
}

.conent--description{
    max-width: 550px;
    margin: 0 auto;
}

.description--company{
    margin-top: 21px;
    font-size: 33px;
}

.description--activity{
    font-size: 24px;
}

.description--activity-lists{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activity-list{
    width: 270px;
}

.activity-list--adv{
    font-weight: bold;
}

.footer{
    background-color: #777777;
    min-height: 220px;
}

.footer--main{
    padding: 50px 10px 0 10px;
    max-width: 980px;
    margin: 0 auto;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
}

.footer--main-references{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 135px;
}

.footer--main-references .reference{
    text-decoration: underline #B3B3B3;
}

.footer--main-developed{
    margin: 0 0 0 auto;
}

.footer--main-developed .reference{
    text-decoration: underline #B3B3B3;
}

@media (max-width: 700px){
    .footer--main{
        flex-direction: column;
        align-items: center;
    }
    
    .footer--main-references{
        margin-left: 0;
        margin-top: 20px;
    }
    
    .footer--main-developed{
        margin: 0;
        margin-top: 20px;
    }
}